.ProductDetailsPage {
  max-width: 768px;
  margin: auto;
  margin-top: 142px;
}

.ProductDetailsHeader {
    display: grid;
    grid-template-columns: 90% 9%;
}

.ProductIcon {
    width: 30px;
    height: 30px;
}

.ProductDetails {
    width: 100%;
}

.ProductDetails-value {
    text-align: right;
}

.BreakdownSelector {
    height: 40px;
    display: flex;
}

.BreakdownOption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    float: left;
    text-decoration: none;
    font-size: 14px;
    color: gray;
}

.BreakdownOption:hover {
    border-bottom: 2px solid lightblue;
    color: lightblue;
}

.active {
    border-bottom: 2px solid darkcyan;
    color: darkcyan;
}

.BreakdownTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;  
}

.BreakdownTable,
.BreakdownTable tr {
    border: 1px solid #E8E8E8;
}

.BreakdownTable td, 
.BreakdownTable th {
    padding: 16px;
}

.BreakdownTable th {
    text-align: left;
}

.BreakdownTable th:last-child,
.BreakdownTable td:last-child
{
    text-align: right;
}