.ProductViewPage-frame {
  max-width: 768px;
  margin: auto;
  margin-top: 142px;
}

.ProductViewHeader-frame {
    display: grid;
    grid-template-columns: 90% 9%;
}

.ProductViewHeader-icon {
    width: 30px;
    height: 30px;
}

.ProductDetails {
    width: 100%;
}

.ProductDetails-value {
    text-align: right;
}

.BreakdownSelector {
    height: 40px;
    display: flex;
}

.BreakdownOption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    float: left;
}

.active {
    border-bottom: 2px solid lightblue;
}