.ProductViewPage-frame {
  max-width: 768px;
  margin: auto;
  margin-top: 142px;
}

.ProductViewHeader-frame {
    display: grid;
    grid-template-columns: 90% 9%;
}

.ProductViewHeader-icon {
    width: 30px;
    height: 30px;
}