.WineSearch-frame {
  max-width: 624px;
  margin: auto;
}

.WineSearch-header-frame {
  margin: auto;
  width: 199px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WineSearch-header {
  font-size: 26px;
  width: 162px;
  float: left;
}

.WineSearch-icon {
  height: 26px;
  width: 16px;
}

.WineSearch-icon-box {
  height: 32px;
  width: 32px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar-frame {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04));
  border-radius: 2px;
}

.SearchInput-frame {
  height: 48px;
}

input { box-shadow: none }

.Search-icon {
  width: 24px;
  height: 24px;
  padding: 12px 8px 12px 12px;
}

.SearchResult {
  height: 36px;
  padding-top: 10px;
  margin: 0px 12px 10px;
}

.left {
  float: left;
}

.right {
  float: right;

}

.SearchResult-primary {
  height: 18px;
  font-size: 15px;
  color: #0F1010;
}

.SearchResult-secondary {
  height: 18px;
  font-size: 13px;
  color: gray;
}

.SearchResult-divider {
  border-top: 1px solid lightgray;
}

.SearchInput-input {
  width: 238px;
}

.SearchInput-left {
  display: flex;
  align-items: center
}
