.WineSearch-frame {
  max-width: 624px;
  margin: auto;
}

.WineSearch-header-frame {
  margin: auto;
  width: 199px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WineSearch-header {
  font-size: 26px;
  width: 162px;
  float: left;
}

.WineSearch-icon {
  height: 26px;
  width: 16px;
}

.WineSearch-icon-box {
  height: 32px;
  width: 32px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search-frame {
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
}

.Search-icon {
  width: 24px;
  height: 24px;
}
