.WineSearchPage {
    max-width: 624px;
    margin: auto;
    margin-top: 142px;
}

.WineSearchHeader {
    margin: auto;
    width: 199px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderTitle {
    font-size: 26px;
    width: 162px;
    float: left;
}

.HeaderIconContainer {
    height: 26px;
    width: 16px;
}

.HeaderIconContainer {
    height: 32px;
    width: 32px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBar {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04));
    border-radius: 2px;
}

.SearchBarInputContainer {
    height: 48px;
    display: flex;
    align-items: center
}

.SearchInput {
    width: 238px;
}

.SearchIcon {
    width: 24px;
    height: 24px;
    padding: 12px 8px 12px 12px;
}

.SearchResult {
    height: 36px;
    padding-top: 10px;
    margin: 0px 12px 10px;
    border-top: 1px solid lightgray;
}

.left {
    float: left;
}

.right {
    float: right;
}

.primary {
    height: 18px;
    font-size: 15px;
    color: #0F1010;
}

.secondary {
    height: 18px;
    font-size: 13px;
    color: gray;
}
